<div id="deleteContributor" class="modal">
    <form action="" method="post" class="deleteContrForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="modal-content center-align">
            <h4>Suppression d'un Contributeur</h4>
            <p>Souhaitez-vous réellement supprimer ce contributeur ?</p>
        </div>
        <div class="modal-footer">
            <a class="btn-flat green-text modal-close">Annuler</a>
            <button type="submit" class="btn-flat red-text">Supprimer</button>
        </div>
    </form>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();

    const form = document.querySelector(".deleteContrForm");
    const buttons = document.querySelectorAll(".deleteButton");
    buttons.forEach(button => button.addEventListener("click", () => {
      const projectId = button.getAttribute("project");
      const userId = button.getAttribute("user");
      form.setAttribute("action", "/projects/" + projectId + "/remove/" + userId + "?_method=DELETE");
    }));
  });
</script>