<div id="deleteProject" class="modal">
    <form action="" method="post" class="deleteForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="modal-content center-align">
            <h4>Suppression du Projet</h4>
            <p>Souhaitez-vous réellement supprimer ce projet ?</p>
        </div>
        <div class="modal-footer">
            <a class="btn-flat green-text modal-close">Annuler</a>
            <button type="submit" class="btn-flat red-text">Supprimer</button>
        </div>
    </form>
</div>

<script>
  const form = document.querySelector(".deleteForm");
  const buttons = document.querySelectorAll(".deleteButton");
  buttons.forEach(button => button.addEventListener("click", () => {
    const projectId = button.getAttribute("_id");
    form.setAttribute("action", "/projects/" + projectId + "?_method=DELETE");
  }));
</script>