<div id="addProject" class="modal modal-fixed-footer">
    <form action="/projects/add" method="post">
        <div class="modal-content">
            <div class="row">
                <div class="col s12">
                    <h5 class="center-align">Créer un Nouveau Projet</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m8">
                            <i class="material-icons prefix">title</i>
                            <input id="title" name="title" type="text" class="validate" data-length="128" required>
                            <label for="title">Titre</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <i class="material-icons prefix">date_range</i>
                            <input id="dueDate" name="dueDate" type="text" placeholder="Optionnelle" class="datepicker validate">
                            <label for="dueDate">Date de Rendu</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">description</i>
                            <textarea id="description" name="description" placeholder="Optionnelle" class="materialize-textarea" data-length="3000"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat red-text">Annuler</a>
            <button type="submit" class="waves-effect waves-green btn-flat green-text">Ajouter</button>
        </div>
    </form>
</div>