<div id="quitProject" class="modal">
  <form action="" method="post" class="quitForm">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="modal-content center-align">
        <h4>Quitter Projet</h4>
        <p>Souhaitez-vous réellement quitter ce projet ?</p>
      </div>
      <div class="modal-footer">
          <a class="btn-flat green-text modal-close">Annuler</a>
          <button type="submit" class="btn-flat red-text">Quitter</button>
      </div>
  </form>
</div>

<script>
$(document).ready(function () {
  $('.modal').modal();

  const form = document.querySelector(".quitForm");
  const buttons = document.querySelectorAll(".quitButton");
  buttons.forEach(button => button.addEventListener("click", () => {
    const projectId = button.getAttribute("_id");
    form.setAttribute("action", "/projects/" + projectId + "/user" +"?_method=DELETE");
  }));
});
</script>