<div id="deleteTask" class="modal">
    <form action="" method="post" class="deleteForm">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="modal-content center-align">
            <h4>Suppression de la Tâche</h4>
            <p>Souhaitez-vous réellement supprimer cette tâche ?</p>
        </div>
        <div class="modal-footer">
            <a class="btn-flat green-text modal-close">Annuler</a>
            <button type="submit" class="btn-flat red-text">Supprimer</button>
        </div>
    </form>
</div>

<script>
  $(document).ready(function () {
    $('.modal').modal();

    const form = document.querySelector(".deleteForm");
    const buttons = document.querySelectorAll(".deleteButton");
    buttons.forEach(button => button.addEventListener("click", () => {
      const taskId = button.getAttribute("_id");
      form.setAttribute("action", "/projects/<%=project.id%>/sprints/<%=project.sprint.id%>/tasks/" + taskId + "?_method=DELETE");
    }));
  });
</script>